.root {
  height: 100%;
  width: 100%;
}

.info {
  position: absolute;
  z-index: 10;
  left: 12px;
  top: 12px;
  color: white;
}

.info code {
  background: rgba(187, 187, 187, 0.35);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

.overview {
  position: absolute;
  background: rgba(100, 100, 100, 0.25);
  backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.overview section {
  background: white;
  border-radius: 6px;
  padding: 18px;
  padding-top: 14px;
}

.overview-title {
  font-weight: 500;
  font-size: 24px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

hr {
  margin: 8px 0;
}

.add-song-controls {
  --gap: 8px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  word-break: keep-all;
  margin-top: var(--gap);
  gap: var(--gap);
}

canvas {
  position: relative;
}

#shadow {
  position: absolute;
  height: 100vh;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(transparent 0%, transparent 0%);
}
